<div id="yolobar" >
    <div id="yolotoggle">
        <span id="yolopen"><a href="#">Y</a></span>
        <span id="yoloclose">X</span>
    </div>
    <div id="yolomenu"><a href="#">Edit</a></div>
</div>